
<nav class="navigation ">
    <ul>
    	<li><a routerLink="/" routerLinkActive="active">Home</a></li>
    	<li><a routerLink="/sintesis" routerLinkActive="active">Portal Web</a></li>
    	<li><a routerLink="/sintesis" routerLinkActive="active">Secop</a></li>
    	<li><a routerLink="/sintesis" routerLinkActive="active">Sintesis</a></li>
    </ul>
</nav>
<div class="content">
	<router-outlet></router-outlet>
</div>

