@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
/* fonts */
$font-family: 'Lato', Helvetica, sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;

/* colors */
$font-grey: #333447;
$dark-grey: #e2e2e2;
$light-grey: #eaeaea;

/* universal */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

* {
  font-family: $font-family;
  color: $font-grey;
  line-height: $font-height;
}


/* navigation */
nav{
	width: 20%;
  position: fixed;
  float: left;
  background: $dark-grey;
  height: 100%;
  z-index:50;
  ul{
  	list-style: none;
  }
}
.content{
  width: 78%;
  float: right;
  padding: 1%;
  background: $light-grey;
  min-height: 100%;
}