<h1>
  Sintesis
</h1>
<div class="graph-session-container">
	<form class="graph-session-filters" (ngSubmit)="filterData($event)">
		<input type="text" class="start-date" placeholder="2016-01-01">
		<input type="text" class="end-date" placeholder="2016-01-01">
		<input type="submit" value="filtrar">
	</form>
	<div id="graph-sessions">
		<!---->
	</div>
</div>

